

.App {
  position: relative;
    font-family: sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}
.outerDiv
{
  width: 100%;
  height: 100%;
  background-color: aqua;
}

.innerDiv {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rebeccapurple;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outerWrapper
{
  height: 100%;
  
}